@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Hr App</h1>
    <a asp-action="Register" class="btn btn-success">Sign Up</a>
    <a asp-action="Login" class="btn btn-success">Log In</a>
</div>
